
body {
margin : 0;
padding : 0;
text-align : left;
color : #666;
background : #003250 url(img/bgd.png) repeat;
font : 75% "Trebuchet MS", verdana, arial, sans-serif;
}
#container {
width : 730px;
border : 10px solid #fff;
margin-left : auto;
margin-right : auto;
margin-top : 20px;
padding : 10px;
line-height : 2em;
color : #666;
background : #d9e1e5;
}
#banner {
float : left;
width : 500px;
height : 210px;
padding : 0;
margin : 0;
color : #666;
background : inherit;
}
#bannerb {
float : right;
width : 200px;
height : 210px;
margin-bottom : 0;
padding : 0;
color : #666;
}
#content {
padding : 10px;
margin-left : 155px;
margin-right : 175px;
background : #eee;
color : #666;
}
#content h1 {
margin : 30px 0 10px 0;
font : normal 18px/30px verdana, arial, tahoma, sans-serif;
color : #369;
background : inherit;
}
#sidebar {
float : left;
width : 140px;
margin : 5px 5px 0 0;
padding : 5px;
border-bottom : 20px solid #a4a4a0;
color : #666;
background-color : #d9e1e5;
}
#menu {
width : 140px;
padding : 10px 0 0 0;
}
#menu ul {
margin : 0;
padding : 0;
list-style-type : none;
}
#menu li {
margin : 0 0 0.5em 0;
}
#menu a {
display : block;
font-size : 11px;
color : #5d775a;
background : #ced8df;
width : 120px;
padding : 0.1em 0.8em;
text-decoration : none;
}
#menu a:hover {
background-color : #a4a4a0;
color : #fff;
}
#sidebar-b {
float : right;
width : 150px;
margin : 0 0 0 5px;
padding : 10px;
border-bottom : 20px solid #a4a4a0;
background-color : #ced8df;
color : #6e6a5a;
}
#footer {
clear : both;
padding : 5px;
margin-top : 5px;
font-size : 0.8em;
color : #bbd2e0;
background : #6e6a5a;
}
#footer a:link, #footer a:visited {
background : inherit;
color : #eee;
text-decoration : none;
}
#footer a:hover {
border-bottom : 1px dashed #f2f2f5;
background : inherit;
color : #f2f2f5;
}
h1 {
margin : 10px 0 10px 0;
font : normal 18px/30px verdana, arial, tahoma, sans-serif;
color : #369;
background : inherit;
}
h2 {
padding-left : 5px;
font : bold 10px/12px verdana, arial, tahoma, sans-serif;
color : #5d775a;
background : inherit;
}
h3 {
margin : 0;
font : bold 170% "Trebuchet MS", verdana, arial, tahoma, sans-serif;
letter-spacing : 5px;
color : #555B7D;
background : transparent;
}
a {
color : #5d775a;
font-weight : bold;
text-decoration : none;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #369;
background : inherit;
}
div.scroll {
overflow : auto;
height : 7em;
width : 120px;
padding : 0.5em;
color : #333;
background : #ced8df;
border : 0 solid #999;
margin : 0 0 15px 0;
}
.news {
font-size : 10px;
background : inherit;
color : #333;
}
.imgleft {
float : right;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}